h1 {
    color: #ff1100;
    text-align: center;
    font-size: 30px;
  }
  
  h2 {
    font-style: italic;
    text-align: center;
    color: #d41f1f;
  }
  
  p {
    font-family: sans-serif;
    color: #ff1100;
    font-size: 26px;
    text-align: center;
  }
  
  ul {
    font-size: 20px;
    line-height: 30px;
  }

  .galaxy-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 25px;
  }

  .planets {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    padding: 7px;
  }

  table, th, td {
    border: 3px solid rgb(216, 90, 18);
    font-size: 20px;
  }